@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  background-color: black;
  scroll-behavior: smooth;
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.backEffect{

}

.btn {
  border-radius: 1.25rem;
  background: #353434;
}

.btn:hover {
  background-color: white;
  color: #353434;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.766));
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, white);
  border-radius: 6px;
}

.blackBox {
  border-radius: 1.25rem;
  /* border: 0.5px solid #808080; */
  background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(84,84,84,1) 100%);
}

/* .blackBox:hover{
  box-shadow: 0px 0px 10px 4px rgba(255,255,255,1);
} */

.whiteTxt{
  color: #FFFFFF;
}

.greyTxt{
  color: #808080;
}

.glow-btn:hover{
  
}
.resumePage{
  height: 100vh;
}

.hoverLogo1:hover{
  filter: drop-shadow(0px 0px 15px #0077B5);
  cursor: pointer;
}
.hoverLogo2:hover{
  filter: drop-shadow(0px 0px 15px #FFFFFF);
  cursor: pointer;
}
.hoverLogo3:hover{
  filter: drop-shadow(0px 0px 15px #CE9E29);
  cursor: pointer;
}
.hoverLogo4:hover{
  filter: drop-shadow(1px 0px 15px #D41A30);
  cursor: pointer;
}

.submitBtn:hover{
  background: white;
  color: #353434;
  cursor: pointer;
}

.site-desc a:hover{
  color:aqua;
}

.neonText {
  animation: flicker 1.5s infinite alternate;
  color: #fff;
}

/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

.projectBox:hover{
  border-radius: 1rem;
  box-shadow:0px 0px 15px rgb(81, 81, 81) ;
  cursor: pointer;
}